# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = weixin_uni.settings

[deploy:scrapy]
url = http://192.168.8.101:6800/
project = weixin_uni
